Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: flask in /home/dan/.local/lib/python3.10/site-packages (3.0.3)
Requirement already satisfied: flask-sqlalchemy in /home/dan/.local/lib/python3.10/site-packages (3.1.1)
Requirement already satisfied: flask-migrate in /home/dan/.local/lib/python3.10/site-packages (4.0.7)
Requirement already satisfied: flask-bcrypt in /home/dan/.local/lib/python3.10/site-packages (1.0.1)
Requirement already satisfied: flask-cors in /home/dan/.local/lib/python3.10/site-packages (5.0.0)
Requirement already satisfied: Werkzeug>=3.0.0 in /home/dan/.local/lib/python3.10/site-packages (from flask) (3.1.3)
Requirement already satisfied: Jinja2>=3.1.2 in /home/dan/.local/lib/python3.10/site-packages (from flask) (3.1.4)
Requirement already satisfied: itsdangerous>=2.1.2 in /home/dan/.local/lib/python3.10/site-packages (from flask) (2.2.0)
Requirement already satisfied: click>=8.1.3 in /home/dan/.local/lib/python3.10/site-packages (from flask) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in /home/dan/.local/lib/python3.10/site-packages (from flask) (1.9.0)
Requirement already satisfied: sqlalchemy>=2.0.16 in /home/dan/.local/lib/python3.10/site-packages (from flask-sqlalchemy) (2.0.29)
Requirement already satisfied: alembic>=1.9.0 in /home/dan/.local/lib/python3.10/site-packages (from flask-migrate) (1.14.0)
Requirement already satisfied: bcrypt>=3.1.1 in /home/dan/.local/lib/python3.10/site-packages (from flask-bcrypt) (4.2.1)
Requirement already satisfied: Mako in /usr/lib/python3/dist-packages (from alembic>=1.9.0->flask-migrate) (1.1.3)
Requirement already satisfied: typing-extensions>=4 in /home/dan/.local/lib/python3.10/site-packages (from alembic>=1.9.0->flask-migrate) (4.12.2)
Requirement already satisfied: MarkupSafe>=2.0 in /home/dan/.local/lib/python3.10/site-packages (from Jinja2>=3.1.2->flask) (3.0.2)
Requirement already satisfied: greenlet!=0.4.17 in /home/dan/.local/lib/python3.10/site-packages (from sqlalchemy>=2.0.16->flask-sqlalchemy) (3.1.1)
