Flask==2.2.5
Flask-Bcrypt==1.0.1
Flask-SQLAlchemy==2.5.1
Flask-Migrate==4.0.4
Flask-WTF==1.1.1
Flask-Cors==3.0.10
psycopg2-binary==2.9.7  # For PostgreSQL database interaction
python-dotenv==1.0.0  # For environment variable management
WTForms==3.0.1  # For form validation
gunicorn==21.2.0  # Production WSGI server
WebSockets==11.0.3  # For real-time features
pytest==7.4.2  # For testing
pytest-flask==1.2.0  # For testing Flask apps
requests==2.31.0  # For making HTTP requests
